<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bikeget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name=".BikeList"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bikeget.SimpleSearch"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="landscape">    
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         
        </activity>
        <activity
            android:name="com.example.bikeget.ByPriceSearch"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.bikeget.SoapResults"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.bikeget.SoapThreadHandler"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoDisplay"
            android:screenOrientation="landscape">
        </activity>
    </application>        
</manifest>
