/* Reseteamos los estilos de margin y padding */
{
margin: 0;
padding: 0;
}

/* Le dice al navegador que dibuje los elementos de HTML 5 como block */
header, footer, aside, nav, article {
display: block;
}

body {
margin: 0 auto;
width: 940px;
font: 13px/22px Helvetica, Arial, sans-serif;
background: #f0f0f0;
}

h2 {
font-size: 28px;
line-height: 44px;
padding: 22px 0;
}

h3 {
font-size: 18px;
line-height: 22px;
padding: 11px 0;
}

p {
padding-bottom: 22px;
}

nav {
position: absolute;
left: 0;
width: 83%;
background: nav_);
}

/* Posicionamos el elemento nav de forma absoluta, lo alineamos a la izquierda de la ventana y hacemos que haga span en todo el ancho. Centraremos la lista anidada para mostrarla dentro de los lBackgroundurlites del disenio: */

nav ul {
margin: 0 auto;
width: 940px;
list-style: none;
}

/* Ahora definiremos algunos estilos adicionales para hacer que los ems de navegacion luzcan */
Nav ul li {
float: left;
}

nav ul li a {
display: block;
margin-right: 20px;
width: 220px;
font-size: 16px;
line-height: 44px;
text-align: center;
text-decoration: none;
color: #777;
}

nav ul li a:hover {
color: #963ad6;
}

nav ul li.selected a {
color: #963ad6;
}

nav ul li.subscribe a {
margin-left: 22px;
padding-left: 33px;
text-align: left;
background: rss.) left center no-repeat;
}

#search {
position: absolute;
top:45%; 
left:34%; 
margin-left:auto;
margin-right:auto;
}

#searchPrice {
position: absolute;
top:45%;
left:40%;
margin-top: -ypx;
margin-left: -xpx;
}

#submit {
position: absolute;
top:0%;
left:100%;
margin-top: -ypx;
margin-left: -xpx;
width: 100px;
color: #fff;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
background: -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
}

#submitPrice {
position: absolute;
top:0%;
left:100%;
margin-top: -ypx;
margin-left: -xpx;
width: 100px;
color: #fff;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
}

#price {
position: absolute;
top:50%;
left:40%;
margin-top: -ypx;
margin-left: -xpx;
}

#priceFrom {
color: #963AD6;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
/*** background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9)); ***/
/*** background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6); ***/
background-size: 100%;
}

#priceTo{
color: #963AD6;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
/*** background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9)); ***/
/*** background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6); ***/
background-size: 100%;
}

#byType{
color: #963AD6;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
/*** background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9)); ***/
/*** background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6); ***/
background-size: 100%;
}

#search_results {
#margin-top: 0px;
#padding: 0px;
background: #467612 intro_background.) repeat-x;
background-size: 100%;
border-radius: 22px;
}

#search_error {
margin-top: 0px;
padding: 0px;
font-size: 16px;
background: #467612 intro_background.) repeat-x;
background-size: 100%;
border-radius: 22px;
}

#num_results {
color: #777;
font-size: 10px;
margin-left:auto;
margin-right:auto;
}

#search_examples {
color: #777;
font-size: 12px;
margin-left:auto;
margin-right:auto;
}

.social_links {
position: absolute;
top:90%; 
left:38%;
line-height:0;
}

#social_text {
color: #777;
font-size: 16px;
margin-left:auto;
margin-right:auto;
}

.social_img {
vertical-align:middle;
margin:none;
padding:none;
border:0;
/* float:right; */
/* display:block; */
line-height:0;
}

#input_search_en {
width:200px;
}

#input_search {
width:225px;
}

table.tableSearch{
#    font-family: Georgia, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.tableSearch thead th, .tableSearch tfoot td{
    color:#fff;
    font-size: 26px;
    background-color:#222;
    font-weight:normal;
}

.tableSearch thead tr{
    color:#963AD6;
    padding:30px;
    text-transform:uppercase;
    box-shadow:0px -1px 4px #000;
    text-shadow:0px 0px 1px #fff;
    text-shadow:1px 1px 1px #000;
}

.tableSearch thead td{
    padding:10px;
}

.tableSearch tfoot th{
    padding:10px;
    font-size:20px;
    text-transform:uppercase;
    color:#888;
}

.tableSearch tfoot td{
    font-size:36px;
    color:#EF870E;
    border-top:none;
    border-bottom:3px solid #666;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow:0px 1px 4px #000;
}

.tableSearch thead th:empty{
    background:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.tableSearch thead :nth-last-child(1){
    border-right:none;
}

.tableSearch thead :first-child,
.tableSearch tbody :nth-last-child(1){
    border:none;
}

.tableSearch tbody th{
    text-align:right;
    padding:10px;
    color:#333;
#    text-shadow:1px 1px 1px #ccc;
#    background-color:#f9f9f9;
#    background-color:#000;
}

.tableSearch tbody td{
#    background-color:#f0f0f0;
#    border: 2px solid #E7EFE0;
#    -moz-border-radius:2px;
#    -webkit-border-radius:2px;
#    border-radius:2px;
#    border-right:1px dotted #999;
#    text-shadow:-1px 1px 1px #fff;
    text-align:center;
    color:#444;
    padding:10px;
    min-width:80px;
}

.tableSearch tbody span.check::before{
    content : url(../images/check1.png)
}
