/* Reseteamos los estilos de margin y padding */
{
margin: 0;
padding: 0;
}

/* Le dice al navegador que dibuje los elementos de HTML 5 como block */
header, footer, aside, nav, article {
display: block;
}

body {
margin: 0 auto;
width: 940px;
font: 13px/22px Helvetica, Arial, sans-serif;
background: #f0f0f0;
}

h2 {
font-size: 28px;
line-height: 44px;
padding: 22px 0;
}

h3 {
font-size: 18px;
line-height: 22px;
padding: 11px 0;
}

p {
padding-bottom: 22px;
}

/* Es importante notar que el ancho del cuerpo ha sido definido como 940px y que fue centrado. Nuestra barra de navegacinnn necesita hacer span en todo el ancho de la ventana, por lo que tendremos que aplicar algunos estilos adicionales: */

nav {
position: absolute;
left: 0;
width: 100%;
background: nav_);
}

/* Posicionamos el elemento nav de forma absoluta, lo alineamos a la izquierda de la ventana y hacemos que haga span en todo el ancho. Centraremos la lista anidada para mostrarla dentro de los lBackgroundurlites del disenio: */

nav ul {
margin: 0 auto;
width: 940px;
list-style: none;
}

/* Ahora definiremos algunos estilos adicionales para hacer que los ems de navegacion luzcan */
Nav ul li {
float: left;
}

nav ul li a {
display: block;
margin-right: 20px;
width: 140px;
font-size: 16px;
line-height: 44px;
text-align: center;
text-decoration: none;
color: #777;
}

nav ul li a:hover {
color: #963ad6;
}

nav ul li.selected a {
color: #963ad6;
}

nav ul li.subscribe a {
margin-left: 22px;
padding-left: 33px;
text-align: left;
background: rss.) left center no-repeat;
}

#search {
position: absolute;
top:45%;
left:40%;
margin-top: -ypx;
margin-left: -xpx;
}

#searchPrice {
position: absolute;
top:45%;
left:40%;
margin-top: -ypx;
margin-left: -xpx;
}

#submit {
position: absolute;
top:0%;
left:100%;
margin-top: -ypx;
margin-left: -xpx;
width: 100px;
color: #fff;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
background: -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
}

#submitPrice {
position: absolute;
top:0%;
left:100%;
margin-top: -ypx;
margin-left: -xpx;
width: 100px;
color: #fff;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
}

#price {
position: absolute;
top:50%;
left:40%;
margin-top: -ypx;
margin-left: -xpx;
}

#priceFrom {
color: #963AD6;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
/*** background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9)); ***/
/*** background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6); ***/
background-size: 100%;
}

#priceTo{
color: #963AD6;
text-transform: uppercase;
text-shadow: #000 1px 1px;
/*** Adding CSS3 Gradients ***/
/*** background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9)); ***/
/*** background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6); ***/
background-size: 100%;
}

#search_results {
margin-top: 0px;
padding: 0px;
background: #467612 intro_background.) repeat-x;
background-size: 100%;
border-radius: 22px;
}

#search_error {
margin-top: 0px;
padding: 0px;
font-size: 16px;
background: #467612 intro_background.) repeat-x;
background-size: 100%;
border-radius: 22px;
}

#input_search {
width:200px;
}
